main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  color: #1d1d1d;
}
button:disabled,
button[disabled] {
  cursor: not-allowed;
}
.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  width: fit-content;
  cursor: pointer;
}

.btn--primary {
  color: #fff;
  background-color: #e65769;
  transition: 1s ease;
}
.btn--primary:hover {
  color: #fff;
  background-color: #c54c5c;
}
.btn--transparent {
  color: #e65769;
  outline: none;
  background-color: transparent;
  transition: 1s ease;
}
.btn--transparent:hover {
  color: #c54c5c;
}

.app__image {
  background-image: url('https://res.cloudinary.com/dnavbc7ny/image/upload/v1596279217/chuc_hjvfey.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  flex: 1;
}

.app__main {
  flex: 1.5;
  padding: 30px;
}
.app__container {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  height: 100%;
  justify-content: center;
}
.logo {
  display: none;
}
@media only screen and (max-width: 768px) {
  .app__image {
    display: none;
  }
  .app__main {
    flex: 1;
  }
  .logo {
    display: block;
  }
}
